<nav class="navbar navbar-expand-lg transparent fixed-top navbar-dark" id="mainNav">
  <div class="container">
  <a class="navbar-brand" href="#"><img [src]="'assets/mylogo.png'" alt="The Grimm Developer Logo" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav text-center text-uppercase small ml-auto text-white">
      <a class="nav-item nav-link" href="#">Home</a>
      <span>•</span>
      <a class="nav-item nav-link" href="#">Skills</a>
      <span>•</span>
      <a class="nav-item nav-link" href="#">Portfolio</a>
      <span>•</span>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div></div>
</nav>

<header id="masthead" class="masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="masthead-bg position-absolute text-center text-white text-uppercase w-100">
        <h1>The Grimm Developer</h1>
        <hr>
        <p>Web Designer</p>
      </div>
    </div>
  </div>
</header>