<section id="footer">
  <div class="container">
    <div class="row text-white text-center">
      <div class="col-md-6">
      <h4 class="m-5">Created &amp; Maintained by Sarah Grimm &copy; 2018</h4>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary ml-auto m-5 active"><a href="https://facebook.com/thegrimmdeveloper" target="_blank"><i class="far fa-thumbs-up"></i> LIKE</a></button>
      <button class="btn btn-default mt-5 mb-5 small instagram"><a href="https://instagram.com/thegrimmdeveloper" target="_blank"><i class="fab fa-instagram"></i> FOLLOW</a></button>
    </div>
    </div>
  </div>
</section>