<section id="about">
  <div class="container p-5">
    <div class="card">

      <div class="row p-4 mt-5">
        <h1 class="text-center w-100 text-uppercase">About Me</h1>
      </div>
      <div class="row px-5">
        <p class="text-center lead">
          I'm
          <strong>Sarah Grimm</strong>, I'm
          <strong>26</strong> years old and I live in the
          <strong>Fresno, California</strong> area. I moved to California in 2016 after living on the East Coast for 23 years. While attending
          West Hills College Lemoore, I was invited to participate in a year-long developing cohort at
          <strong>Geekwise Academy</strong> in Fresno. It ended up being the best decision I ever made. I always had a love for coding
          and design, but I never knew if I could do it. Fast forward to now, I'm an up-and-coming freelance web developer
          and graphic designer ready to take on the tech world head on. I'm hoping that one day a tech company will adopt
          me as one of their own. In the mean time, I'm continuing my education with Geekwise Academy and planning to transfer
          to a university in order to achieve my Bachelor's Degree. When I'm not coding, I enjoy listening to music, playing
          video games, watching TV, and playing with my dog.

        </p>
        <div class="container contact pb-5">
          <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-10 contactBtn">
              <a href="https://www.facebook.com/sarahagrimm" target="_blank">
                <i class="fab fa-facebook-f rounded-circle fbook"></i>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-10 contactBtn">
              <a href="https://instagram.com/sgrimmdev" target="_blank">
                <i class="fab fa-instagram rounded-circle insta"></i>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-3 contactBtn">
              <a href="https://twitter.com/sarahh_alberta" target="_blank">
                <i class="fab fa-twitter rounded-circle twitter"></i>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-3 contactBtn">
              <a href="www.linkedin.com" target="_blank">
                <i class="fab fa-linkedin-in rounded-circle linkedIn"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="quote">

  <div class="container">
    <div class="row p-5 text-center text-white">
      <h2 class="w-100">Development isn't just something I do for a job, It's something I
        <i>love</i>. If you hire me, you'll find that I add a little bit of something that not all web developers can offer,
        <i>passion</i>.</h2>
      <h2 class="w-100">
        <i class="fas fa-heart"></i>
      </h2>
    </div>
  </div>
</section>