$blueblack: hsl(202, 11%, 20%);

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Amatic+SC|Rochester');

#about {
    background: url('../../assets/background-board-carpentry-326333.jpg');
    background-position: center;
    background-size: cover;

    p {
        font-size: 1em;
        font-family: 'Josefin Slab';
    }

    h1 {
        font-size: 3em;
        letter-spacing: 10px;
        font-family: 'Amatic SC', cursive;
    }

    .card {
        border-radius: 25px;
    }
}

.contact {

    max-width: 500px;
    padding-top: 25px;

    .contactBtn {
        padding: 10px;
    }


i {
    font-size: 30px;
    padding: 23px;  
    color: $blueblack;
    width: 75px;
    height: 75px;
    text-shadow: 1px 2px 4px $blueblack;

}
    i:hover {
        transform: rotate(360deg);
        transition-duration: 1.5s;
    }
  
  i.fbook {
    background-color: #4367B0;
    color: white;
  }
  
  i.insta {
    background: linear-gradient(45deg, #ffdc6e 0%,#f26330 32%,#d8258a 70%,#7643ca 100%);
    color: white;
  }
  
  i.twitter {
    background-color: #21A1F0;
    color: white;
  }
  
  i.mail {
    background: linear-gradient(45deg, indigo, #23292D, indigo, #23292D, indigo );
    color: white;
  }
  
  i.github {
    background-color: #23292D;
    color: white;
  }
  
  i.linkedIn {
    background-color: #0577B4;
    color: white;
  } }

  #quote {
      background: linear-gradient( $blueblack, hsl(196, 49%, 8%));
      font-family: 'Rochester', cursive;

      .fa-heart {
          color: crimson;
          font-size: 3rem;
      }
  }


@media (min-width: 900px) {
    
    .card {padding: 0;
    margin: 100px;}
}