<section id="about">
  <div class="container p-5">
      <div class="card">

          <div class="row pt-5">
                  <h1 class="text-center w-100 text-uppercase">About Me</h1>
          </div>
          <div class="row px-5">
              <p class="text-center">
                      My name is Sarah Grimm and I'm from Carroll County, Maryland. I moved to California in 2016 and started school at West Hills College Lemoore majoring in Computer Information Systems. While there, I was introduced to the Geekwise Academy Program through Bitwise Industries in Fresno, California. Now I'm an up-and-coming freelance web developer and graphic designer based in Fresno. I hope to transfer to Arizona State University to earn a Bachelor's Degree in Web and Internet Development.
                      <br>
                      <br>
                     Development isn't just something I do for a job, It's something I <i>love</i>. If you hire me, you'll find that I add a little bit of something that not all web developers can offer, <i>passion</i>.
                      <br>
                      <br>
                      When I'm not coding, I enjoy listening to music, playing video games, watching TV, and playing with my dog.
              </p>
              <div class="container contact p-5">
                    <div class="row text-center">
                      <div class="col-md-3 col-sm-3 col-xs-6 contactBtn">
                        <a href="https://www.facebook.com/sarahagrimm" target="_blank">
                          <i class="fab fa-facebook-f rounded-circle fbook"></i>
                        </a>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-6 contactBtn">
                        <a href="https://instagram.com/sgrimmdev" target="_blank">
                          <i class="fab fa-instagram rounded-circle insta"></i>
                        </a>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-6 contactBtn">
                        <a href="https://twitter.com/sarahh_alberta" target="_blank">
                          <i class="fab fa-twitter rounded-circle twitter"></i>
                        </a>
                      </div>
                      <!-- <div class="col-md-2 col-sm-2 col-xs-2">
                        <a href="https://github.com/sarahagrimm" target="_blank">
                          <i class="fab fa-github rounded-circle github"></i>
                        </a>
                      </div> -->
                      <div class="col-md-3 col-sm-3 col-xs-6 contactBtn">
                        <a href="www.linkedin.com" target="_blank">
                          <i class="fab fa-linkedin-in rounded-circle linkedIn"></i>
                        </a>
                      </div>
          </div>
</div></div>
      </div>
  </div>
</section>