@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Amatic+SC');

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  letter-spacing: 5px;
  font-family: 'Amatic SC', cursive;
}

p {
  font-family: 'Josefin Slab', cursive;
}