<div class="container px-5 pr-5">
  <div class="row text-center">
    <h2 class="w-100 pt-5">Let's Connect!</h2>
    <p class="w-100 lead">Send me an email or find me on social media! I'll get back to you as soon as I can!</p>
    <form action="" class="w-100 pb-5">
      <div class="form-row pb-3 w-100">
        <div class="col">
          <input type="text" placeholder="Name" class="form-control">
        </div>
        <div class="col">
          <input type="text" placeholder="Email Address" class="form-control">
        </div>
      </div>

      <textarea id="form_message" name="message" class="form-control" placeholder="Enter your message" rows="4" required="required"
        data-error="Please, leave me a message."></textarea>
      <input type="submit" value="Send Message" class="btn-primary btn mt-3">
    </form>
  </div>
</div>