<section id="contact">
<div class="small-container px-5 pr-5">
  <div class="row text-center">
    <h1 class="w-100 pt-5">Let's Connect!</h1>
    <p class="w-100 lead">I'd love to hear from you! Fill in the contact form below, send me an email at <a href="">sgrimmdev@gmail.com</a>, or find me on social media!</p>
    <div class="form text-center mx-auto">
    <form action="https://formspree.io/sgrimmdev@gmail.com" method="POST" class="w-100 pb-5">
          <input type="text" placeholder="Name" class="form-control form-control-lg" required="requred">
          <br>
          <input type="email" placeholder="Email Address" class="form-control form-control-lg" required="required" name="_replyto">
          <br>
      <textarea id="form_message" name="message" class="form-control form-control-lg" placeholder="Enter your message" rows="4" required="required"
        data-error="Please, leave me a message."></textarea>
      <input type="submit" value="Send Message" class="btn-primary btn mt-3 btn-lg">
    </form>
  </div>
</div></div>
</section>