$blueblack: rgb(45, 52, 56);
$black: hsl(0, 1%, 15%);

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Amatic+SC');

#skills {
    background: linear-gradient(to top right,#f6f6f7,#fefefe);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

i {
    font-size: 50px;
    padding-right: 20px;
}

.spin:hover {
    transform: rotateY(180deg);
}

h1 {
    font-size: 3rem;
    letter-spacing: 10px;
    font-family: 'Amatic SC', cursive;
}

h3 {
    font-family: 'Josefin Slab', cursive;
    letter-spacing: 5px;
}

h5 {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    padding: 15px;
    font-family: 'Josefin Slab', cursive;

}

.card {
    width: 200px;
    height: 200px;
    padding: 2rem;
    margin: 30px;

    img {
       width: 100px; 
    }
}