<section id="skills" class="skills">
  <div class="container">
    <div class="row">
      <h1 class="text-center pt-5 pb-5">Technical Skills</h1>
    </div>

    <div class="row">
    <div class="flex pb-5">
      <div class="card mx-auto">
        <img [src]="'assets/skills/html5-original.png'" class="mx-auto">
        <h5 class="text-center pt-2">HTML</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/css3-original.png'" class="mx-auto">
        <h5 class="text-center pt-2">CSS</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/sass-original.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">SASS</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/javascript-original.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Javascript</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/angularjs-original.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Angular2</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/bootstrap-plain.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Bootstrap</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/git-original.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Git</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/github-original.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Github</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/php-original.png'" alt="" class="mx-auto pt-4">
        <h5 class="text-center pt-4">PHP</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/wordpress-plain.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Wordpress</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/photoshop-line.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Photoshop</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/illustrator-line.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Illustrator</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/linux-original.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Linux</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/windows8-original.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Windows</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/docker-original.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Docker</h5>
      </div>
      <div class="card mx-auto">
        <img [src]="'assets/skills/visualstudio-plain.png'" alt="" class="mx-auto">
        <h5 class="text-center pt-2">VS Code</h5>
      </div>
    </div>

    </div>
  </div>
</section>