<section id="skills" class="skills">
  <div class="container">
    <div class="row">
      <h1 class="text-center pt-5 pb-5">Technical Skills</h1>
    </div>

    <div class="row">
    <div class="flex pb-5">
      <div class="card mx-auto">
        <img src="../../assets/skills/html5-original.svg" class="mx-auto">
        <h5 class="text-center pt-2">HTML</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/css3-original.svg" class="mx-auto">
        <h5 class="text-center pt-2">CSS</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/sass-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">SASS</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/javascript-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Javascript</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/angularjs-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Angular2</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/bootstrap-plain.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Bootstrap</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/git-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Git</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/github-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Github</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/php-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">PHP</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/wordpress-plain.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Wordpress</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/photoshop-line.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Photoshop</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/illustrator-line.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Illustrator</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/linux-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Linux</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/windows8-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Windows</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/docker-original.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">Docker</h5>
      </div>
      <div class="card mx-auto">
        <img src="../../assets/skills/visualstudio-plain.svg" alt="" class="mx-auto">
        <h5 class="text-center pt-2">VS Code</h5>
      </div>
    </div>

    </div>
  </div>
</section>