@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Amatic+SC|Rochester|Montserrat');

#portfolio {
    background: linear-gradient(to top right,#f6f6f7,#fefefe);
}


h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}