.container-fluid {
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);

  h1 {
    font-size: 3em;
    letter-spacing: 10px;
    font-family: "Amatic SC", cursive;
  }

  .card {
    min-height: 375px;
    width: 85%;

    i {
      font-size: 60px;
      padding: 40px;
    }

    img {
      width: 135px;
    }

    h4 {
      font-family: "Amatic SC", cursive;
      font-weight: bold;
    }

    p {
      font-family: "Josefin Slab", serif;
    }
    
  }
}

@media (min-width: 900px) {
  .card {
    height: 400px !important;
  }
}
