<div class="container-fluid">
  <div class="row text-center pb-5">
    <div class="col-lg-12">
      <h1 class="text-uppercase text-white pt-5">Services</h1>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card m-5 pl-5 pr-5 pt-2 mx-auto">
        <i class="fas fa-desktop"></i>
        <h4>Front End Developer</h4>
        <p>First impressions are important. I always keep design in mind when I'm creating a website. An attractive interface will make your customers return again and again.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card m-5 pl-5 pr-5 mx-auto">
        <i class="fas fa-mobile"></i>
        <h4>Responsive Design</h4>
        <p>Mobile is the future and likely the way your customers will first view your site. That's why I will always ensure that your website looks great on any device.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card m-5 pl-5 pr-5 mx-auto">
        <img src="../../assets/skills/wordpress-plain.svg" alt="" class="mx-auto p-3">
        <h4>WordPress Templates</h4>
        <p>I design and create WordPress Templates for any occasion. I plan to have a collection to choose from in the near future.</p>
      </div>
    </div>
  </div>
</div>