<div class="container-fluid">
  <div class="row text-center pb-5">
    <div class="col-lg-12">
      <h1 class="text-uppercase text-white pt-5">Services</h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card m-5 p-5">
        <i class="fas fa-laptop"></i>
        <h4>Web Developer &amp; Designer</h4>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card m-5 p-5">
        <i class="fas fa-mobile"></i>
        <h4>Responsive Design</h4>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card m-5 p-5">
        <i class="fab fa-wordpress"></i>
        <h4>WordPress Templates</h4>
      </div>
    </div>
  </div>
</div>