@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Amatic+SC');

i {
    font-size: 60px;
    padding: 40px;
}


.card {
    height: 350px;
}

.container-fluid {
    background: linear-gradient(45deg, slateblue, seagreen);
}

h1 {
    font-size: 3em;
    letter-spacing: 10px;
    font-family: 'Amatic SC', cursive;
}

h4 {
    font-family: 'Amatic SC', cursive;
}